[submodule "lib/PHPMailer"]
	path = lib/PHPMailer
	url = https://github.com/PHPMailer/PHPMailer.git
[submodule "lib/CodeMirror"]
	path = lib/CodeMirror
	url = https://github.com/codemirror/CodeMirror.git
[submodule "lib/highlight.js"]
	path = lib/highlight.js
	url = https://github.com/isagalaev/highlight.js.git
