RewriteEngine  on

##
# set rewrite base
RewriteRule   .                      - [E=RB:/]
RewriteCond   %{HTTP_HOST}           ^localhost$
RewriteCond   %{SCRIPT_FILENAME}     www/([^/]+)
RewriteRule   .                      - [E=RB:/%1/]

##
# remove trailing slash, eg. /mivepo/ -> /mivepo
RewriteCond   %{REQUEST_FILENAME}    !-f
RewriteRule   ^(.+)\/$               %{ENV:RB}$1  [R=301,L]

##
# create _GET parameters
RewriteCond   %{REQUEST_URI}         !\.[a-z0-9]{2,4}$ [NC]
RewriteCond   %{REQUEST_FILENAME}    !-f
RewriteRule   .*                     %{ENV:RB}index.php?page=$0 [QSA]