html {
  -webkit-text-size-adjust: none; /* Never autoresize text */
}

body {
  word-wrap: break-word;
}

code, samp, textarea {
  font-family: "Emilbus Mono","Lucida Console",monospace;
}

select,
/*input:not([type="checkbox"]),*/
input:not([type="radio"]) {
  font-size: inherit;
  padding: 0.15em 0.3em;
}

samp, pre, textarea,
p code, li code, dt code, dd code {
  border: 0.15em solid #e5e5e5;
  box-sizing: border-box;
  background:#f0f0f0;
  font-size: inherit;
  color: black;
  white-space: pre-wrap;
}

pre, textarea {
  padding: 0.3em;
  line-height: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

samp, p code, li code, dt code, dd code {
  padding-left: 0.2em;
  padding-right: 0.2em;
}

fieldset {
  min-width: initial;
  border: none;
  margin-top: 1em;
  margin-bottom: 1em;
}

fieldset > *:last-child {
  margin-bottom: 0;
}

textarea {
  width: 100%;
  height: 60%;
}

ol ol li {
  list-style-type: lower-latin;
}

ol.img li, ul.img li {
  display: inline-block;
  list-style-type: none;
}

object {
  max-width: 100%;
  width: auto;
}

p object {
  display: block;
  margin: 1em auto;
}

#flashMsg {
  background: rgb(37,37,37);
  font-family: "Emilbus Mono","Lucida Console",monospace;
  /*font-size: 1.15em;*/
}
#flashMsg ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 1rem;
  list-style: none;
}
#flashMsg li {
  margin: 0.5em 0;
}
#flashMsg li.warning {
  /*background: rgb(255, 45, 45);*/
  background: rgb(187, 33, 33);
  color: #fff;
  padding: 0.5em;
}
#flashMsg > span,
#flashMsg a,
#flashMsg li.info {
  color: #ccc;
}
#flashMsg li.success {
  background: rgb(53, 144, 61);
  color: #fff;
  padding: 0.5em;
}
#flashMsg.hidden {
  float: left;
  background: transparent;
}
.warning {
  border-color: #E78181;
  background-color: #F99F9F;
}