html {
  -webkit-text-size-adjust: none; /* Never autoresize text */
}

body {
  word-wrap: break-word;
}

code, samp, textarea {
  font-family: "Emilbus Mono","Lucida Console",monospace;
}

select,
/*input:not([type="checkbox"]),*/
input:not([type="radio"]) {
  font-size: inherit;
  padding: 0.15em 0.3em;
}

samp, pre, textarea,
p code, li code, dt code, dd code {
  border: 0.15em solid #e5e5e5;
  box-sizing: border-box;
  background:#f0f0f0;
  font-size: inherit;
  color: black;
  white-space: pre-wrap;
}

input:not([type='submit']),
pre, textarea, select {
  border: 0.1em solid #aaa;
  padding: 0.2em 0.4em;
  line-height: 1.5em;
}

input {
  vertical-align: middle;
}

samp, p code, li code, dt code, dd code {
  padding-left: 0.2em;
  padding-right: 0.2em;
}

fieldset {
  min-width: initial;
  border: none;
  margin-top: 1em;
  margin-bottom: 1em;
}

fieldset > *:last-child {
  margin-bottom: 0;
}

textarea {
  width: 100%;
  height: 60%;
  vertical-align: top;
}

ol ol {
  list-style-type: lower-alpha;
}

ol.img li, ul.img li {
  display: inline-block;
  list-style-type: none;
}

object {
  max-width: 100%;
  width: auto;
}

p object {
  display: block;
  margin: 1em auto;
}

#messages {
  background: rgb(37,37,37);
  /*font-family: "Emilbus Mono","Lucida Console",monospace;*/
  /*font-size: 1.15em;*/
}
#messages ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 1rem;
  list-style: none;
}
#messages li {
  margin: 0.5em 0;
  color: #fff;
  padding: 0.5em;
}
#messages > span,
#messages a {
  color: #ccc;
}
#messages li.info {
  background: rgb(0, 66, 131);
}
#messages li.warning {
  background: rgb(166, 120, 0);
}
#messages li.error {
  background: rgb(187, 33, 33);
}
#messages li.success {
  background: rgb(53, 144, 61);
}
#messages li a,
#messages li label {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}
#messages.hidden {
  float: left;
  background: transparent;
}
.warning {
  border-color: #E78181;
  background-color: #F99F9F;
}