*, *:before, *:after {color: black !important; background: transparent !important;}
h1, h2, h3 {font-weight: normal; page-break-after: avoid; page-break-inside: avoid;}
h1, h2, h3, h4, h5, h6 {line-height: 1.2;}
body {font-size:10pt; font-family: Charter, Georgia, sans; line-height: 1.2em;}
@page {size: auto; margin: 21mm 20mm;}
.print {display: initial;}
.hideable dt a, body a#scrolltop, .hidden, .adminmenu, .edit, .admin, .contentlink-bc {display: none;}
.hideable dd {margin-left:0;}
::placeholder {color: transparent;}