html {
  -webkit-text-size-adjust: none; /* Never autoresize text */
}

body {
  word-wrap: break-word;
}

code, samp, textarea {
  font-family: "Emilbus Mono","Lucida Console",monospace;
}

select,
/*input:not([type="checkbox"]),*/
input:not([type="radio"]) {
  font-size: inherit;
  padding: 0.15em 0.3em;
}

samp, pre, textarea,
p code, li code, dt code, dd code {
  border: 0.15em solid #e5e5e5;
  box-sizing: border-box;
  background:#f0f0f0;
  font-size: inherit;
  color: black;
  white-space: pre-wrap;
}

pre, textarea {
  padding: 0.3em;
  line-height: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

samp, p code, li code, dt code, dd code {
  padding-left: 0.2em;
  padding-right: 0.2em;
}

/*
legend + * {
  margin-top: 0.5em;
}
*/
fieldset {
  min-width: initial;
  border: none;
  margin-top: 1em;
  margin-bottom: 1em;
}

fieldset > *:last-child {
  margin-bottom: 0;
}

textarea {
  width: 100%;
  height: 60%;
}

ol ol li {
  list-style-type: lower-latin;
}

ol.img li, ul.img li {
  display: inline-block;
  list-style-type: none;
}

object {
  max-width: auto;
  width: 100%;
}

p object {
  display: block;
  margin: 1em auto;
}

#flashMsg {
  background: rgb(37,37,37);
}
#flashMsg ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 1rem;
  list-style: none;
}
#flashMsg li {
  margin: 0;
}
#flashMsg li.warning {
  color: #ffcc66;
}
#flashMsg li.info {
  color: rgb(232, 232, 232);
}
#flashMsg li.success {
  color: rgb(88, 195, 106);
}
.warning {
  /*todo*/
}