div.section.doc {
  counter-reset: section;
}
div.section.doc h2 {
  counter-reset: par;
}
div.section.doc h2:before {
  counter-increment: section;
  content: "§ " counter(section) ": ";
}
div.section.doc.kap h2:before {
  counter-increment: section;
  content: "Kap. " counter(section) ": ";
}
div.section.doc.chapter h2:before {
  counter-increment: section;
  content: "Chapter " counter(section) ": ";
}
div.section.doc p:before {
  counter-increment: par;
  content: counter(par) ") ";
  font-size: 1.1em;
}
div.section.doc div.paragraph ol {
  list-style-type: lower-alpha;
}