body.doc {
  counter-reset: par section;
}
body.doc h2 {
  counter-reset: par subsection;
  text-align: left;
}
body.doc h3 {
  counter-reset: par subsubsection;
}
body.doc h2:before {
  counter-increment: section;
  content: counter(section) ") ";
}
body.doc.par h2:before {
  counter-increment: section;
  content: "§ " counter(section) ", ";
}
body.doc.kap h2:before {
  counter-increment: section;
  content: "Kapitola " counter(section) ": ";
}
body.doc.chapter h2:before {
  counter-increment: section;
  content: "Chapter " counter(section) ": ";
}
body.doc h3:before {
  counter-increment: subsection;
  content: counter(section) "." counter(subsection) " ";
}
body.doc h4:before {
  counter-increment: subsubsection;
  content: counter(section) "." counter(subsection) "." counter(subsubsection) " ";
}
body.doc div.section p:before {
  counter-increment: par;
  content: counter(par, lower-alpha) ") ";
  font-size: 1.1em;
}
body.doc div.paragraph > ol,
body.doc div.list > ol {
  list-style-type: lower-roman;
}
body.doc label > input[type="text"] {
  border: none;
  background: #EAF2F5;
  width: 55%;
  min-width: 25em;
  border-bottom: 0.1em solid rgb(165, 165, 165);
}
body.doc label > span {
  width: 27%;
  display: inline-block;
  min-width: 13em;
}
@media print {
  body.doc.sml p.creation,
  body.doc.sml ul.docinfo,
  body.doc.sml #footer {
    display: none;
  }
}