@charset "UTF-8";

a[href] {
    border-bottom: thin solid;
}
a[href] {
  text-decoration: none;
  color: #BF342F;
  border-color: #D37B78;
}

a:visited {
  color: #5b0358;
  border-color: #a277a0;
}

.hdesc a[href],
.hdesc a:visited {
  color: #ffdcce;
  border-color: #fccfb9;
}

#contactform-collaboration ul {
  list-style: none;
}

#contactform-collaboration ul li {
  margin-left: 0;
}

dt {
  font-weight: 600;
  /* color: #B92D2D; */
  /* font-size: 1.2em; */
  /* font-weight: 100; */
}

div.list.multiple dt {
  padding: 0 0 0.25em 0;
  font-size: 1.15em;
}

h2 {
  font-size: 2em;
  margin: 1em 0;
  text-align: center;
}

h1, h2, h3, h4 {
  color: #1e1e1e;
  font-weight: 400;
  padding-left:  1rem;
  padding-right:  1rem;
}

body {
  color: #525f7f;
}

ol.contentlink-bc {
  list-style: none;
  padding: 0;
  padding-right: 2.5em;
  margin: 0 auto;
  max-width: 61em;
}

ol.contentlink-bc li {
  display: inline-block;
  margin: 0;
}

ol.contentlink-bc > li+li:before {
    content: "›";
    font-size: 2em;
    font-weight: 100;
    margin-left: .3em;
    margin-right: .3em;
    line-height: 0;
    vertical-align: -.1em;
    color: #f9fafa;
}

ol.contentlink-bc li a {
  display: inline-block;
  padding: 1rem 0;
  font-weight: 600;
  color: white;
  border-color: #fff5ea;
}

ol.contentlink-bc li a:first-child {
  padding-left: 0;
  font-weight: 600;
  font-size: 1.3em;
  line-height: 1;
}

#content div.hdesc {
    max-width: 100%;
    position: relative;
}

p.description {
    padding: 0 1em 2rem 1em;
    text-align: center;
    font-size: 1.2em;
}

#header {
  padding: 0 1em;
  position: relative;
  z-index: 10;
}

#header > * {
  max-width: 62em !important;
  max-width: 62rem !important;
  box-sizing: border-box;
  color:  white;
}

#header > div {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0.5em 0;
  position: relative;
  border-bottom:  medium solid #ecb143;
}
#header > div .globalmenu {
  margin: 1em 0 0;
  padding: 0;
  list-style: none;
}
#header > div .globalmenu li {
  margin: 0;
  display: inline-block;
}
#header > div .globalmenu li:first-child {
  margin-left: 0;
}
#header div.hideable-button {
  position: absolute;
  top: 0.7em;
  right: 0;
}
#header div.hideable-button a {
  display: inline-block;
  padding: 0.9em 1.2em;
  color: white;
}
#header > div .globalmenu a {
  border: none;
  display: block;
  padding: 1em 1.5em;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
  font-weight: 600;
  background: none;
 }
#header div.hideable-button span:last-child {
  display: none;
}
#header .globalmenu-top {
  position: absolute;
  right: 0;
  display: none;
}
@media (max-width: 42em) {
  #header .hideable-nohide .globalmenu-top {
    display: block;
  }
  #header .hideable-nohide .globalmenu-top ul {
    background: #fff;
    background: #ffffffe8;
  }
  #header .hideable-nohide .globalmenu-top a {
    color: #333333;
  }
  #header .hideable-nohide div.hideable-button {
    background: #f8c866;
  }
}
@media (max-width: 28em) {
  #header > div .globalmenu li {
    display: block;
  }
  #header .hideable-nohide .globalmenu-top li + li {
    border-top: thin solid #dddddd;
  }
}
@media (min-width: 42em) {
  #header > div {
    display: flex;
  }
  #header > div ol.contentlink-bc {
    flex-grow: 1;
  }
  #header > div .globalmenu {
    margin-top: 0;
  }
  #header a.hideable-switch {
    display: none !important;
  }
  #header div.globalmenu-top {
    display: block !important;
    position: static;
    padding: 0;
  }
  #header > div .globalmenu a {
  }
  #header > div .globalmenu li:last-child a {
    padding-right: 0;
  }
}

form#contactform-collaboration:after {
  content: "";
  display: block;
  clear: both;
  padding: 1em;
}

input[type="submit"] {
  padding: 0.5rem 1rem;
  background: #DB630B;
  color: white;
  font-weight: 600;
  border: none;
}

#contactform-tel {
  margin: 1.5em 0;
}

#contactform-tel p {
  margin: 0;
}

#contactform-tel input {
  border: 0;
  padding: 0.7rem 1rem;
  height: 100%;
}

#contactform-tel input[type="text"] {
  border: thin solid #c8c8c8;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  /* background: #ddd; */
}

#contactform-tel input[type="text"]::placeholder {
  color: #6a6a6a;
}

#contactform-tel input {
  margin-top: 1rem;
  width: 100%;
}

ul.logo {
  list-style: none;
}
ul.logo li {
  margin-left: 0;
  border: none;
  display: flex;
  width: 100%;
  align-items: center;
  word-break: break-all;
}
ul.logo li:before {
  font-size: 1.5em;
  width: 1.5em;
  color: #de540f;
  flex: 0 0 1.5em;
}
ul.logo li a {
  border-bottom: none;
  display: inline-block;
}
a.logo {
  border-bottom: none;
  display: inline-block;
  vertical-align: sub;
  line-height: 1;
}
a object {
  pointer-events: none;
  margin: 0;
}
ul.logo li a object {
  max-width: 1.5em;
  flex: 2em 0 0;
  margin-right: 0.5em;
}

#footer {
  padding: 1em;
  padding-top: 5em;
  background: whitesmoke;
  position: relative;
  z-index: -2;
}

#footer,
#footer a {
}

#footer > ul.globalmenu > li a.current {
  color: #E02000;
}

@media all and (min-width: 150em) {
    #pref,
    #header {
        background-size: 100%;
    }
}

form dd > input[type="text"], form dd > input[type="email"], form dd > textarea, select {
    border-color: #AAA;
    box-sizing: border-box;
}

a#scrolltop {
    border: none;
}


.part {
  padding: 7em 0;
}

.part:nth-child(2n) {
  position: relative;
  background-color: #32315e;
  background: linear-gradient(#32315e,#515e80);
}

.part:nth-child(2n) > *,
.part:nth-child(2n) a {
  color: white;
}

.part:nth-child(2n) a {
  border-color: #939ebf;
}


.part:nth-child(2n):before,
.part:nth-child(2n):after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 1em;
  left: 0;
  background: whitesmoke;
  transform: skewY(-2deg);
  z-index: -2;
}

.part:nth-child(2n):before {
  top: 0;
  left: 0;
  background: #feae59;
  transform: skewY(1deg);
  z-index: -1;
}

h1 {
  color: #7c0e3e;
  margin: 0;
  padding-top: 1.5em;
  padding-bottom: 1em;
  text-align: center;
  font-size: 2.5em;
}

#content > .hdesc > div {
  background-color: rgb(246, 191, 78);
  background: linear-gradient(rgb(246, 191, 78),#ffecc4);
  margin-top: -5em;
}

#content > .hdesc > div:after {
  content: url("/files/header/web.svg");
}

#content > .hdesc > div > div:first-child {
  position: relative;
  padding-top: 5em;
  z-index: 1;
}

.stripes {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -130px;
  -webkit-transform: skewY(-12deg);
  transform: skewY(-12deg);
}

.stripes .stripe {
  position: absolute;
  height: 190px
}

.stripes .s1 {
  top: 0;
  left: 0;
  width: 30%;
  background: -webkit-gradient(linear,left top,right top,from(#ffad5a),to(rgba(250,175,82,.25)));
  background: linear-gradient(90deg,#ffad5a,rgba(250,175,82,.25))
}

.stripes .s2 {
  top: 190px;
  left: 0;
  width: 38%;
  background: -webkit-gradient(linear,left top,right top,from(#ffcd68),to(rgba(255,199,107,0)));
  background: linear-gradient(90deg,#ffcd68,rgba(255,199,107,0))
}

.stripes .s3 {
  top: 380px;
  right: 0;
  width: 36%;
  background: -webkit-gradient(linear,left top,right top,from(hsla(46,98%,78%,0)),to(#ffda84));
  background: linear-gradient(90deg,hsla(46,98%,78%,0),#ffda84)
}


#content > .hdesc > div > div > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#content > .hdesc > div > div > ul li {
  margin: 0;
  padding: 0;
}

#content > .hdesc > div > div > ul {
  text-align: center;
}

#content a.button {
  white-space: nowrap;
  display: inline-block;
  line-height: 3em;
  padding: 0 1em;
  box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
  background-color: #6772e5;
  border-radius: 0.2em;
  text-transform: uppercase;
  letter-spacing: .025em;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  transition: all .15s ease;
}

#content a.button:focus, #content a.button:hover {
  color: #fff;
  background-color: #7795f8;
  transform: translateY(-0.1em);
  box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08)
}

#content a.button:active {
  color: #e6ebf1;
  background-color: #555abf;
  transform: translateY(0.1em);
  box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08)
}

#content > .hdesc .description {
  margin-top: 3em;
}

.part:last-child {
  padding-bottom: 4em;
}

.list {
  margin-top: 3em;
  margin-bottom: 3em;
}
