h2 {
  color: #E02000;
}

div.cms-balancer a,
#content > div:first-child {
  background: #FD563B;
}

ol.cms-breadcrumb li a {
  color: #E02000;
}

a:link {
  color: #E02000;
}

a:visited {
  color: black;
}

#footer {
  background: #FD563B;
}

#footer > ul.cms-menu > li a:not([href]) {
  color: #E02000;
}