h2 {
  color: #086CA2;
}

div.cms-balancer a,
#content > div:first-child {
  background: #3C9DD1;
}

ol.cms-breadcrumb li a {
  color: #086CA2;
}

a:link {
  color: #086CA2;
}

a:visited {
  color: black;
}

#footer {
  background: #3C9DD1;
}

#footer > ul.cms-menu > li a:not([href]) {
  color: #008627;
}