h2 {
  color: #DB1580;
}

div.contentbalancer-simple:not(.section) a,
#content > div:first-child {
  background: #E42E91;
}

a:link {
  color: #DB1580;
}

a:visited {
  color: rgb(190, 0, 93);
}

#footer {
  background: #E42E91;
}

#footer > ul.globalmenu > li a.current {
  color: #DB1580;
}