h2 {
  color: #FF1493;
}

div.cms-balancer a,
#content > div:first-child {
  background: #E42E91;
}

ol.cms-breadcrumb li a {
  color: #FF1493;
}

a:link {
  color: #FF1493;
}

a:visited {
  color: black;
}

#footer {
  background: #E42E91;
}

#footer > ul.cms-menu > li a:not([href]) {
  color: #FF1493;
}