* {
  margin: 0;
  padding: 0;
}

strong {
  font-weight: 600;
}

h1,h2,h3,h4,h5,h6,p,ul,ol,dl,
div.paragraph {
  max-width: 60em;
  max-width: 60rem;
  margin: 1.5em auto;
  padding-left: 1em;
  padding-left: 1rem;
  padding-right: 1em;
  padding-right: 1rem;
}

div.list.multiple div {
  max-width: 62em;
  max-width: 62rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  padding-right: 0;
}

div.list.multiple dl {
  margin: 1em;
  background: white;
  padding: 0.5em 1em;
}

div.paragraph > p,
div.paragraph > ul,
div.paragraph > ol,
div.paragraph > dl {
  padding-left: 0;
  padding-right: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

ul ul, ul ol, ul dl,
ol ul, ol ol, ol dl,
dl ul, dl ol, dl dl {
  margin: 0.5em 0;
  padding-left: 0;
  padding-right: 0;
}

li li {
  margin-left: 1em;
  margin-left: 1rem;
}

div.list > ul,
div.list > ol,
div.list > dl {
  margin-top: 0;
  margin-bottom: 0;
}

div.list > ul > *:first-child,
div.list > ol > *:first-child,
div.list > dl > *:first-child {
  margin-top: 0;
}

body {
  font-family: 'Open Sans', Tahoma, sans-serif;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1.5em;
  padding-bottom: 1.8em;
  font-weight: 100;
  text-transform: uppercase;
}

h2 {
  color: #551A8B;
  font-weight: 100;
  text-transform: uppercase;
  margin-top: 2em;
  margin-bottom: 1.5em;
  text-align: center;
}

h3, h4, h5, h6 {
  font-weight: normal;
}

#content > div:first-child {
  background: #6D6EAE;
  color: #fff;
}

ul.docinfo {
  list-style: none;
  text-align: right;
  font-style: italic;
}

p.creation, p.edit {
  margin-top: 0;
  margin-bottom: -1em;
  margin-bottom: -1rem;
  position: relative;
  top: 1em;
  top: 1rem;
  font-weight: 100;
}

p.creation a, p.edit a {
  color: white;
}

p.edit {
  float: right;
  z-index: 1;
}

/* breadcrumb navigation */

ol.contentlink-bc {
  list-style: none;
  padding: 0;
  margin-top: -2em;
  margin-top: -2rem;
  padding-bottom: 0.5em;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
  padding-left: 1em;
  padding-left: 1rem;
  max-width: 61em;
  max-width: 61rem;
}

ol.contentlink-bc li {
  display: inline-block;
  margin: 0;
}

ol.contentlink-bc > li+li:before {
  content: "›";
  font-family: "Times New Roman", sans-serif;
  font-size: 1.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

ol.contentlink-bc li a {
  display: inline-block;
  color: #fff;
}

ol.contentlink-bc li a:first-child {
  padding-left: 0;
}

#content > div:first-child + div,
div.list, div.contentbalancer-simple:not(.section),
fieldset > dl {
  background: #EAF2F5;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

#content > div:first-child + div {
  margin-top: 0;
  color: black;
}

#content > div:first-child + div p {
  margin-top: 0;
  margin-bottom: 0;
}

li, dd, dt {
  margin-top: 0.5em;
  margin-top: 0.5rem;
  margin-bottom: 0.5em;
  margin-bottom: 0.5rem;
}

li, dd {
  margin-left: 2em;
}

dt {
  font-size: 1.15em;
  font-weight: normal;
}

div.contentbalancer-simple:not(.section) ul {
  list-style: none;
  text-align: center;
}

div.contentbalancer-simple:not(.section) li {
  display: inline-block;
  margin: 0;
}

div.contentbalancer-simple:not(.section) a {
  text-transform: uppercase;
  padding: 1em;
  font-weight: 100;
  margin: 0.3em;
  background: #6D6EAE;
  display: inline-block;
  color: white;
  text-decoration: none;
}

#footer {
  background: #6D6EAE;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: white;
  font-weight: 100;
}

#footer a {
  color: white;
}

#footer > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

#footer ul ul {
  margin: 0;
  padding: 0;
  list-style: none;

}

#footer ul li {
  margin-left: 0.7em;
  margin-right: 0.7em;
}

#footer > ul.globalmenu li {
  margin-left: 0;
  margin-right: 0;
}

#footer ul ul li {
  margin: 0;
}

#footer > ul.globalmenu > li a {
  text-decoration: none;
  font-weight: 100;
  text-transform: none;
  padding: 0.1em 0.7em;
  display: inline-block;
}

#footer > ul.globalmenu > li li {
  text-transform: none;
  margin: 0.2em 0;
}

#footer > ul.globalmenu > li {
  text-transform: uppercase;
  font-weight: 600;
}

#footer > ul.globalmenu > li > a {
  text-transform: uppercase;
}

#footer > ul.globalmenu > li a.current {
  background: #EAF2F5;
  font-weight: 500;
  padding: 0.25em 0.5em;
  margin-left: 0.7em;
  color: #551A8B;
}


/* Browser compatibility */

.no-cssremunit ol.contentlink-bc {
  margin-left: 0;
  padding-left: 0;
}

.no-cssremunit #content > div:first-child > div {
  max-width: 60em;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
}

.no-cssremunit #content > div:first-child > div h1 {
  padding-left: 0;
}

.no-flexbox div.list.multiple div dl {
  display: inline-block;
}

.no-flexbox #footer > ul {
  display: table;
}

.no-flexbox #footer > ul li {
  display: inline-block;
  padding: 0 0.5em;
}
