h2 {
  color: #E02000;
}

div.contentbalancer a,
#content > div:first-child {
  background: #FD563B;
}

ol.contentlink-bc li a[href] {
  color: #E02000;
}

a:link {
  color: #E02000;
}

a:visited {
  color: black;
}

#footer {
  background: #FD563B;
}

#footer > ul.globalmenu > li a.current {
  color: #E02000;
}