h2 {
  color: #008627;
}

div.contentbalancer a,
#content > div:first-child {
  background: #3CC563;
}

ol.contentlink-bc li a[href] {
  color: #008627;
}

a:link {
  color: #008627;
}

a:visited {
  color: #055A1E;
}

#footer {
  background: #3CC563;
}

#footer > ul.globalmenu > li a.current {
  color: #008627;
}