h2 {
  color: #FF1493;
}

div.cms-balancer a,
#content > div:first-child {
  background: #FF1493;
}

#content > div:first-child + div,
div.list, div.cms-balancer {
  /*background-image: url('ticks.png');*/
}

ol.cms-breadcrumb li a {
  color: #FF1493;
}

a:link {
  color: #FF1493;
}

a:visited {
  color: #555;
}

#footer {
  background: #FF1493;
}