h2 {
  color: #086CA2;
}

div.contentbalancer a,
#content > div:first-child {
  background: #3C9DD1;
}

ol.contentlink-bc li a[href] {
  color: #086CA2;
}

a:link {
  color: #086CA2;
}

a:visited {
  color: black;
}

#footer {
  background: #3C9DD1;
}

#footer > ul.globalmenu > li a:not([href]) {
  color: #008627;
}