h1,h2,h3,h4,h5,h6,p,ul,ol,dl,
div.paragraph, div.list, pre {
  margin: 1em auto;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

@media screen and (min-width: 22em) {
  h1,h2,h3,h4,h5,h6,p,ul,ol,dl,
  div.paragraph, div.list, pre {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

#content .part > *,
#content > .hdesc + div > *,
#header > *,
#footer > * {
  max-width: 62rem;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}