@charset "UTF-8";

div.list.multiple > div {
  display: flex;
  flex-wrap: wrap;
}

#care + p + div.list.multiple .img {
  display: none;
}

div.list.multiple div > * {
  flex: 0 1 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0.5em 0;
  padding: 1em;
}

@media screen and (min-width: 22em) {

}

@media (min-width: 33em) {
  div.list.multiple div > * {
    flex: 0 1 50%;
    max-width: 50%;
  }
}

@media (min-width: 58em) {
  div.list.multiple div > *.adv {
    flex: 0 1 50%;
    max-width: 50%;
  }
  #care + p + div.list.multiple > div {
    display: block;
  }
  #care + p + div.list.multiple .adv.img {
    display: block;
    float: right;
    padding-left: 2em;
  }
  .adv.img img {
    max-width: none;
    width: 190%;
  }
  .adv.img:not(.devices) img {
    box-shadow: 0.5em 0.5em 2em #ddd;
  }
}

@media (min-width: 52em) {
  div.list.multiple div > * {
    flex: 0 1 33.33%;
    max-width: 33.3%;
  }
}